개발도구:VS Code,   Unity
사용언어:C#

게임 이름:drift

게임파일 실행시 메뉴화면 등장

1.메뉴화면 구성
1.항해(플레이)
2.설정
3.크레딧

1번 항해 클릭시
(1)방 만들기
(2)방 들어가기<=기능 구현x(추후 구현)

2번 설정 클릭시
(1)언어(영어,한국어)
(2)소리 조절0~100
(3)커뮤티케이션(보이스,채팅)
(4)키 설정
인벤토리:E
상호작용(아이템 획득,구조물 상호작용):F
아이템 버리기:Q 
뛰기:SHIFT
움직이기:W    S     A     D
            점프:SPACE
웅크리기:CTRL

2.게임 플레이

           


시작버튼 클릭시 캐릭터 설정창
캐릭터      1.다니엘
                2.찰스
                3.엘리스
                4.칼
                5.엠마
                6.미나(게임 진행중 획득)

플레이어 1인칭 화면:
오른쪽 아래 갈증 퍼센트와 배고픔 퍼센트,체력이 있음 화면 맨 밑에 핫바(마인크래프트,래프트 참고)가 있음 왼쪽 위 지금 해야할 일(퀘스트 창) 모든 플레이어가 공통으로 모두 같은 일이 뜸 퀘스트 해결 장소에는 작은 흰색 원이 뜸 해결시 사라짐.



시작시 파도소리와 갈매기 소리가 들리며 검은화면에 서서히 사라지며 낡고 녹슨 대형선박에 갑판에서 눈을뜸.  갑판에는 빗물을 모으는 통,낙싯대,오래된 의자가 있음. 갑판에서 뒤를 돌면 선박 조타실이 보임 조종실에는 조종가능한 방향타와 낡은 라디오,나침반,오늘의 작업이 적힌 낡은 종이가 벽에 결려있음 벽에 적힌 종이는 튜토리얼 
종이 내용: 오늘의 작업:식량 확보,정수기 점검, 엔진 연료 확인,갑판 손상부 수리
(종이와 상호작용시 퀘스트 창에 종이에 내용이 생김) 

종이에 적힌 내용을 전부 끝내면 무전실에서 경보음이 들림(퀘스트 창에 모든 플레이어가 조타실로 향하라는 퀘스트가 생김 해결 장소인 낡은 라디오에는 경고 표시가 뜸.)

모든플레이어가 조타실에 들어오고 상호작용시  낡은 라디오와 상호작용시 대사 출력
"서쪽에 치직치직 땅이 치직치직" 삐 소리가 나며 라디오가 끊김.(퀘스트:키를 서쪽으로 돌리시오)

라디오가 끊긴 후 갈매기가 정수기 주요 부품을 고장냄.(퀘스트:정수기 수리)


  